.searchBarForm {
  display: flex;
  align-items: center;
  max-width: 400px; /* Adjust as needed */
}

.searchInput {
  padding: 8px 12px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; /* Rounded left corners */
  flex-grow: 1;
  outline: none;
  transition: border-color 0.2s;
}

.searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Optional focus glow */
}

.searchButton {
  padding: 8px 15px;
  font-size: 0.9rem;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0; /* Rounded right corners */
  margin-left: -1px; /* Overlap border with input field */
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
